<li class="flex task" style="view-transition-name: task-{{task.id}}">
    <input
        type="checkbox"
        class="mr-2 my-auto"
        aria-labelledby="check or uncheck {{task.name}}"

        {% if task.completed %}
            checked
        {% endif %}

        hx-put="/toggle"
        hx-trigger="change"

        onclick="this.disabled = true"

        hx-vals="{{task|json}}"

        hx-target="#list"
        hx-swap="innerHTML transition:true"
    />
    <p
        class="{% if task.completed %}line-through decoration-black text-gray-400{% endif %}"

        {% if task.completed %}
            hx-delete="/delete"
            hx-trigger="dblclick"
            hx-confirm="Are you sure you want to delete?"

            hx-vals="{{task|json}}"

            hx-swap="delete transition:true"
            hx-target="closest li"
        {% endif %}
    >
        {{task.name}}
    </p>
</li>
